body {
    font-family: Poppins, sans-serif;
    background-color: #efefef;
  }
  
  #quiz {
    max-width: 805px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
  }
  
  h1 {
    text-align: center;
    color: #0172A2;
    font-family: Caslon, serif;
    font-weight: 400;
  }
  
  h3 {
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
  }

  #label {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: small;
    color: rgb(105, 106, 110);
  }

  #explabel {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: small;
    color: rgb(105, 106, 110);
  }

  #question {
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
  }
  
  #options {
    display: block;
    gap: 10px;
    margin-bottom: 8px;
    grid-template-columns: repeat(2, 1fr);
    font-family: Poppins, sans-serif;
  }
  
  button {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    width: 100%;
    padding: 10px 20px;
    background-color: aliceblue;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
  }
  
  button:hover {
    background-color: #8f8d8d;
  }

  button:disabled {
    background-color: #efefef;
    color: #8f8d8d
  }
  .progress-bar-container {
    width: 100%; /* Or a specific width */
    height: 4px; /* Adjust height as needed */
    background-color: #e0e0e0; /* Background color for the empty bar */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensures the fill stays within the container */
  }
  
  .progress-fill {
    height: 100%;
    width: 0%; /* Starts at 0% */
    background-color: #0152A2; /* Color of the progress fill */
    border-radius: 10px;
    transition: width 0.5s ease-in-out; /* Smooth transition for width changes */
  }

  #next-button  {
    background: #0152A2;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;  
    display: block;
  }
